doctype html5  
html
    head
        link(rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css")
    body
        .col-lg-12
            .col-lg-7
            //-Need to make this into a table
            table
                tr
                    th Include Player
                    th Player Name 
                    th Role
                tr
                    td 
                        input(id="chkSpaynkee" type="checkbox")
                    td Spaynkee
                    td 
                        select(id="roleSpaynkee" class="roleSelect") 
                tr
                    td 
                        input(id="chkSpaynkee" type="checkbox")
                    td Dumat
                    td 
                        select(id="roleDumat" class="roleSelect") 
        .row
        .col-lg-12
            input(id="getRoles" class="btn btn-primary" type="button" value="Get Roles")
            input(id="getChamps" class="btn btn-danger" type="button" value="Get Champs")
    script(src="./js/data.js")